html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
}

.none {
  display: none;
}

.container {
  padding: 0 15px;
  max-width: 1055px;
  margin: 0 auto;
}

.line {
  position: relative;
  display: block;
  content: "";
  width: 120px;
  border: 1.5px solid #D8AE5E;
}

.header {
  margin: 0 auto;
  max-width: 1470px;
  height: 824px;
  background-image: url(/img/bg.png);
  background-position: center;
  background-size: cover;
  color: #F4F4F4;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 150%;
}

.logo_img {
  cursor: pointer;
  padding-bottom: 13px;
}

.logo_line::before {
  position: relative;
  display: block;
  content: "";
  width: 214px;
  border-radius: 20px;
  border: 1.5px solid #F4F4F4;
}

.logo_title {
  padding-bottom: 5px;
  font-size: 31px;
  font-weight: 500;
}

.logo_text {
  font-size: 12px;
  font-weight: 400;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.nav__links-link {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #F4F4F4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav__links-link::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  display: block;
  width: 0;
  height: 2px;
  background-color: #D8AE5E;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav__links-link:hover:after {
  width: 100%;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__btn-lable {
  font-size: 96px;
  font-weight: 400;
  letter-spacing: 4px;
  padding-bottom: 20px;
}

.header__btn-title {
  padding: 30px 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffffff;
}

.header_button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #F4F4F4;
  background-color: #D8AE5E;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.header_button:hover {
  background-color: #de9c21;
}

.burger-checkbox {
  position: absolute;
  visibility: hidden;
}

.burger {
  position: relative;
  z-index: 5;
  cursor: pointer;
  display: none;
  position: relative;
  border: none;
  background: transparent;
  width: 40px;
  height: 26px;
}

.burger::before,
.burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;
  background: #D8AE5E;
}

.burger::before {
  top: 0;
  -webkit-box-shadow: 0 11px 0 #D8AE5E;
          box-shadow: 0 11px 0 #D8AE5E;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}

.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.burger-checkbox:checked + .burger::before {
  top: 11px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger-checkbox:checked + .burger::after {
  bottom: 11px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.menu-list {
  top: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 12px;
  padding: 42px 0;
  margin: 0;
  background: #F4F4F4;
  list-style-type: none;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
}

.menu-item {
  margin: 0 auto;
  width: 200px;
  display: block;
  padding: 8px;
  color: #000;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.menu-item:hover {
  background-color: rgba(216, 173, 94, 0.4039215686);
}

.burger-checkbox:checked ~ .menu-list {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

@media (max-width: 760px) {
  .header {
    height: 700px;
  }
  .header__btn-lable {
    font-size: 48px;
  }
}
@media (max-width: 470px) {
  .header {
    height: 450px;
  }
  .header__row {
    gap: 35px;
  }
  .header__btn-lable {
    font-size: 35px;
    padding-bottom: 0 !important;
  }
  .header__btn-title {
    font-size: 19px;
  }
  .nav__links {
    display: none;
  }
  .header_button {
    font-size: 12px;
  }
  .burger {
    position: absolute;
    top: 15px;
    right: 15px;
    display: block;
  }
}
.aboutUs {
  margin: 0 auto;
  max-width: 1470px;
  height: 485px;
  background-color: #ffffff;
}

.aboutUs__box {
  padding-top: 64px;
  margin: 0 auto;
  max-width: 598px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.aboutUs__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutUs__title_h2 {
  font-size: 64px;
  font-weight: 600;
}

.aboutUs__title_text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.aboutUs__text {
  max-width: 540px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 150%;
}

.aboutUs__button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 400;
  color: #F4F4F4;
  background-color: #D8AE5E;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.aboutUs__button:hover {
  background-color: #de9c21;
}

@media (max-width: 760px) {
  .aboutUs__title_h2 {
    font-size: 48px;
  }
}
@media (max-width: 570px) {
  .aboutUs {
    height: 400px;
  }
  .aboutUs__box {
    padding-top: 32px;
  }
  .aboutUs__text {
    font-size: 16px;
  }
}
@media (max-width: 470px) {
  .aboutUs__title_h2 {
    font-size: 32px;
  }
  .aboutUs__title_text {
    font-size: 14px;
  }
  .aboutUs__button {
    font-size: 12px;
  }
}
@media (max-width: 390px) {
  .aboutUs__box {
    gap: 20px;
  }
}
.atractions {
  margin: 0 auto;
  max-width: 1470px;
  min-height: 732px;
  background-color: #F4F4F4;
}

.atractions__box {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.atractions__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.atractions__title_h2 {
  font-size: 64px;
  font-weight: 600;
}

.atractions__title_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 30px;
}

.atractions__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 96px;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 128px;
}

.content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  cursor: pointer;
}

.item_img {
  padding: 5px;
  width: 65px;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.item_img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.sm {
  width: 56px;
  height: 50px;
}

.item_text {
  font-size: 20px;
  font-weight: 400;
}

.atractions__footer {
  cursor: pointer;
}

.atractions_hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.atractions_hover:hover {
  background-color: #D8AE5E;
  padding: 10px 15px 2px 15px;
  border-radius: 5px;
}

.atractions__footer_text::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 8px;
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid #D8AE5E;
}

@media (max-width: 950px) {
  .atractions__content {
    display: grid;
  }
  .content__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 760px) {
  .atractions__title_h2 {
    font-size: 48px;
  }
}
@media (max-width: 590px) {
  .atractions__box {
    padding: 32px 0;
  }
  .atractions__title_h2 {
    font-size: 48px;
  }
  .atractions__content {
    gap: 50px;
  }
  .content__row {
    gap: 50px;
  }
}
@media (max-width: 470px) {
  .atractions__title_h2 {
    font-size: 32px;
  }
  .item_text {
    font-size: 12px;
  }
}
.presentation__box {
  padding: 64px 0 106px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation__title_h2 {
  font-size: 64px;
  font-weight: 600;
}

.presentation__title_text {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
}

.presentation__subtitle {
  padding: 64px 0 32px 0;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 3px;
}

.presentation__content {
  width: 100%;
  display: grid;
  grid-template-areas: "a a b b c c c " "d d d e e f f ";
  gap: 16px;
}

.content__item1 {
  grid-area: a;
}

.content__item2 {
  grid-area: b;
}

.content__item3 {
  grid-area: c;
}

.content__item4 {
  grid-area: d;
}

.content__item5 {
  grid-area: e;
}

.content__item6 {
  grid-area: f;
}

.content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-height: 286px;
  overflow: hidden;
}

.content__item_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
.content__item_img:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.content__item_text {
  position: absolute;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 5px;
}

@media (max-width: 940px) {
  .content__item_text {
    font-size: 21px;
  }
}
@media (max-width: 760px) {
  .presentation__box {
    padding: 64px 0;
  }
  .presentation__title_h2 {
    font-size: 48px;
  }
  .presentation__subtitle {
    padding: 32px 0;
    font-size: 18px;
  }
  .content__item_text {
    font-size: 18px;
  }
}
@media (max-width: 710px) {
  .content__item_text {
    font-size: 14px;
  }
}
@media (max-width: 630px) {
  .content__item_text {
    font-size: 12px;
  }
  .presentation__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .content__item_text {
    font-size: 10px;
  }
  .presentation__subtitle {
    font-size: 14px;
  }
}
@media (max-width: 530px) {
  .content__item_text {
    font-size: 7px;
  }
  .presentation__subtitle {
    font-size: 12px;
    text-align: center;
  }
}
@media (max-width: 470px) {
  .presentation__title_h2 {
    font-size: 32px;
  }
  .content__item_text {
    display: none;
  }
  .presentation__box {
    padding: 32px 0;
  }
  .presentation__content {
    gap: 5px;
  }
}
.contact {
  max-height: 580px;
  background-color: #f4f4f4;
}

.contact__box {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 64px;
}

.contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__title_h2 {
  font-size: 64px;
  font-weight: 600;
}

.contact__title_text {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  padding-bottom: 15px;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.links_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.links_item-img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.contact__links_link {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

.contact__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.socials_img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socials_img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 760px) {
  .contact__title_h2 {
    font-size: 48px;
  }
  .contact__box {
    padding: 32px 0;
    gap: 32px;
  }
}
@media (max-width: 470px) {
  .contact__title_h2 {
    font-size: 32px;
  }
  .contact__title_text {
    font-size: 14px;
  }
}
.footer {
  max-height: 542px;
  background-color: #ffffff;
}

.footer__box {
  padding: 64px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 150%;
}

.footer_img {
  cursor: pointer;
  padding-bottom: 13px;
}

.footer_line::before {
  position: relative;
  display: block;
  content: "";
  width: 214px;
  border-radius: 20px;
  border: 1.5px solid #000000;
}

.footer_title {
  padding-bottom: 5px;
  font-size: 31px;
  font-weight: 500;
  color: #000;
}

.footer_text {
  font-size: 12px;
  font-weight: 400;
  color: #000;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

.socials_img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.socials_img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer_link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.copyright__date, .copyright__desing {
  font-size: 16px;
  font-weight: 400;
}

.desing_span {
  font-weight: 600;
}

@media (max-width: 760px) {
  .footer__box {
    padding: 32px 0;
    gap: 30px;
  }
}