.aboutUs {
    margin: 0 auto;
    max-width: 1470px;
    height: 485px;
    background-color: #ffffff;
}

.aboutUs__box {
    padding-top: 64px;
    margin: 0 auto;
    max-width: 598px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.aboutUs__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs__title_h2 {
    font-size: 64px;
    font-weight: 600;
}

.aboutUs__title_text {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
} 

.aboutUs__text {
    max-width: 540px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.aboutUs__button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #F4F4F4;
    background-color: #D8AE5E;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in;

    &:hover {
        background-color: #de9c21;
    }
}

@media(max-width:760px) {
    .aboutUs__title_h2 {
        font-size: 48px;
    }
}

@media(max-width:570px) {
    .aboutUs {
        height: 400px;
    }
    .aboutUs__box {
        padding-top: 32px;
    }
    .aboutUs__text {
        font-size: 16px;
    }
}

@media(max-width:470px) {
    .aboutUs__title_h2 {
        font-size: 32px;
    }
    .aboutUs__title_text {
        font-size: 14px;
    }
    .aboutUs__button {
        font-size: 12px;
    }
}

@media(max-width:390px) {
    .aboutUs__box {
        gap: 20px;
    }
}