.atractions {
    margin: 0 auto;
    max-width: 1470px;
    min-height: 732px;
    background-color: #F4F4F4;
}

.atractions__box {
    padding: 64px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

.atractions__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.atractions__title_h2 {
    font-size: 64px;
    font-weight: 600;
}

.atractions__title_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 30px;
}

.atractions__content {
    // display: grid; // media
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px;
}

.content__row {
    // display: grid;  // media
    // grid-template-columns: repeat(2, 1fr);
    display: flex;
    gap: 128px;
}

.content__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    cursor: pointer;
}

.item_img {
    padding: 5px;
    width: 65px;
    height: 50px;
    transition: .3s;
    &:hover {
        transform: scale(1.1);
    }
}

.sm {
    width: 56px;
    height: 50px;
}

.item_text {
    font-size: 20px;
    font-weight: 400;
}

.atractions__footer {
    cursor: pointer;
}
.atractions_hover {
    transition: .3s;
}
.atractions_hover:hover {
    background-color: #D8AE5E;
    padding: 10px 15px 2px 15px;
    border-radius: 5px;
} 

.atractions__footer_text::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 400;
    border-bottom: 1px solid #D8AE5E;
}

@media(max-width:950px) {
    .atractions__content {
        display: grid; 
    }
    .content__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:760px) {
    .atractions__title_h2 {
        font-size: 48px;
    }
}

@media(max-width:590px) {
    .atractions__box {
        padding: 32px 0;
    }
    .atractions__title_h2 {
        font-size: 48px;
    }
    .atractions__content {
        gap: 50px;
    }
    .content__row {
        gap: 50px;
    }
}

@media(max-width:470px) {
    .atractions__title_h2 {
        font-size: 32px;
    }
    .item_text {
        font-size: 12px;
    }
}