.contact {
    max-height: 580px;
    background-color: #f4f4f4;
}

.contact__box {
    padding: 64px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
}

.contact__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__title_h2 {
    font-size: 64px;
    font-weight: 600;
}

.contact__title_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 15px;
} 

.contact__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.links_item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.links_item-img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.contact__links_link {
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

.contact__socials {
    display: flex;
    align-items: center;
    gap: 32px;
}

.socials_img {
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

@media(max-width:760px) {
    .contact__title_h2 {
        font-size: 48px;
    }
    .contact__box {
        padding: 32px 0;
        gap: 32px;
    }
}
@media(max-width:470px) {
    .contact__title_h2 {
        font-size: 32px;
    }
    .contact__title_text {
        font-size: 14px;
    }
}
