.footer {
    max-height: 542px;
    background-color: #ffffff;
}

.footer__box {
    padding: 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.footer__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 150%;
}

.footer_img {
    cursor: pointer;
    padding-bottom: 13px;
}

.footer_line::before {
    position: relative;
    display: block;
    content: "";
    width: 214px;
    border-radius: 20px;
    border: 1.5px solid #000000;
}

.footer_title {
    padding-bottom: 5px;
    font-size: 31px;
    font-weight: 500;
    color: #000;
}

.footer_text {
    font-size: 12px;
    font-weight: 400;
    color: #000;
}

.footer__socials {
    display: flex;
    align-items: center;
    gap: 32px;
}

.socials_img {
    transition: 0.3s;

    &:hover {
        transform: scale(1.1);
    }
}

.footer__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer_link {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.footer__copyright {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.copyright__date,.copyright__desing {
    font-size: 16px;
    font-weight: 400;
}

.desing_span {
    font-weight: 600;
}

@media(max-width:760px) {
    .footer__box {
        padding: 32px 0;
        gap: 30px;
    }
}