.header {
    margin: 0 auto;
    max-width: 1470px;
    height: 824px;
    background-image: url(/img/bg.png);
    background-position: center;
    background-size: cover;
    color: #F4F4F4;
}

.header__row {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    padding-top: 50px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.nav__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 150%;
}

.logo_img {
    cursor: pointer;
    padding-bottom: 13px;
}

.logo_line::before {
    position: relative;
    display: block;
    content: "";
    width: 214px;
    border-radius: 20px;
    border: 1.5px solid #F4F4F4;
}

.logo_title {
    padding-bottom: 5px;
    font-size: 31px;
    font-weight: 500;
}

.logo_text {
    font-size: 12px;
    font-weight: 400;
}

.nav__links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav__links-link {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #F4F4F4;
    transition: .3s;
}

.nav__links-link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -5px;
    display: block;
    width: 0;
    height: 2px;
    background-color: #D8AE5E;
    transition: .4s;
}

.nav__links-link:hover:after{
    width: 100%;
}

.header__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__btn-lable {
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 4px;
    padding-bottom: 20px;
}

.header__btn-title {
    padding: 30px 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #ffffff;
}

.header_button {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    color: #F4F4F4;
    background-color: #D8AE5E;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in;

    &:hover {
        background-color: #de9c21;
    }
}

// burger menu 

.burger-checkbox {
    position: absolute;
    visibility: hidden;
  }
  .burger {
    position: relative;
    z-index: 5;
    cursor: pointer;
    display: none;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  .burger::before,
  .burger::after {
    content: '';
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #D8AE5E;
  }
  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #D8AE5E;
    transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
    bottom: 0;
    transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0,0,0,0);
    transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
    top: 0;
    left: 0;
    position: absolute;
    display: grid;
    gap: 12px;
    padding: 42px 0;
    margin: 0;
    background: #F4F4F4;
    list-style-type: none;
    transform: translateX(-100%);
    transition: .5s;
    width: 100%;
  }
  .menu-item {
    margin: 0 auto;
    width: 200px;
    display: block;
    padding: 8px;
    color: #000;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
  }
  .menu-item:hover {
    background-color: #d8ad5e67;
  }
  .burger-checkbox:checked ~ .menu-list {
    transform: translateX(0);
  }

// -----------------

// Media

@media(max-width:760px) {
    .header {
        height: 700px;
    }
    .header__btn-lable {
        font-size: 48px;
    }
}

@media(max-width:470px) {
    .header {
        height: 450px;
    }
    .header__row {
        gap: 35px;
    }
    .header__btn-lable {
        font-size: 35px;
    padding-bottom: 0 !important;
    }
    .header__btn-title {
        font-size: 19px;
    }
    .nav__links {
        display: none;
    }
    .header_button {
        font-size: 12px;
    }
    .burger {
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
    }
}