.presentation__box {
    padding: 64px 0 106px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation__title_h2 {
    font-size: 64px;
    font-weight: 600;
}

.presentation__title_text {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}

.presentation__subtitle {
    padding: 64px 0 32px 0;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 3px;
}

.presentation__content {
    width: 100%;
    display: grid;
    grid-template-areas:    "a a b b c c c "
                            "d d d e e f f ";
    gap: 16px;
}

.content__item1 { grid-area: a; }
.content__item2 { grid-area: b; }
.content__item3 { grid-area: c; }
.content__item4 { grid-area: d; }
.content__item5 { grid-area: e; }
.content__item6 { grid-area: f; }

.content__item {
    display: flex;
    justify-content: center;
    position: relative;
    max-height: 286px;
    overflow: hidden;
}

.content__item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .8s;

    &:hover {
        transform: scale(1.2);
    }
}

.content__item_text {
    position: absolute;
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 5px;
}

@media(max-width:940px) {

    .content__item_text {
        font-size: 21px;
    }
}

@media(max-width:760px) {
    .presentation__box {
        padding: 64px 0;
    }
    .presentation__title_h2 {
        font-size: 48px;
    }
    .presentation__subtitle {
        padding: 32px 0;
        font-size: 18px;
    }
    .content__item_text {
        font-size: 18px;
    }
}

@media(max-width:710px) {
    .content__item_text {
        font-size: 14px;
    }
}

@media(max-width:630px) {
    .content__item_text {
        font-size: 12px;
    }
    .presentation__subtitle {
        font-size: 16px;
    }
}

@media(max-width:580px) {
    .content__item_text {
        font-size: 10px;
    }
    .presentation__subtitle {
        font-size: 14px;
    }
}

@media(max-width:530px) {
    .content__item_text {
        font-size: 7px;
    }
    .presentation__subtitle {
        font-size: 12px;
        text-align: center;
    }
}

@media(max-width:470px) {
    .presentation__title_h2 {
        font-size: 32px;
    }
    .content__item_text {
        display: none;
    }
    .presentation__box {
        padding: 32px 0;
    }
    .presentation__content {
        gap: 5px;
    }
}