* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro';
}

.none {
    display: none;
}

.container {
    padding: 0 15px;
    max-width: 1055px;
    margin: 0 auto;
}

.line {
    position: relative;
    display: block;
    content: "";
    width: 120px;
    border: 1.5px solid #D8AE5E;
}